* {
	margin: 0;
	padding: 0;
	text-align:center
}

body {
	display:block;
	align-items: center;
} 

 

	#dotty {
		position: relative;
		left: 40vw;
		top: 20vh;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color:crimson;
		animation: bootUp;
}

div {
	text-align: center;
}

@keyframes bootUp {
	0% {
			transform: scale(0, 0.25);
	}
	50% {
			transform: scale(1, 0.25);
	}
}

@media (prefers-reduced-motion: no-preference) {
		#dotty-bootUp {
			animation: bootUp 1s 1;
		}
}











