* {
	margin: 0;
	padding: 0
}

body {
 box-sizing: border-box;
	background: rgb(0,0,0);
	border: 10px solid brown
} 

 #screen {
	width: 100px;
	height: 100;
	border: 5px solid black
}

div {
 border: 3px solid black;
	font-size: 8vmin;
	text-align: center;
	vertical-align: middle;
}


#bgMusic {
	position: relative;
	left: 70px;
}

#restart {
	position: relative;
	top: 35px
}

div {
	text-align: center;
}