* {
	margin: 0;
	padding: 0;
	text-align:center
}

body {
	display: block;
	align-items: center;
	background-color: burlywood;
	font-family: Georgia;
	
} 

 

	#dotty {
		position: relative;
		left: 47vw;
		top: 20vh;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color:crimson;
		animation: vertical-movement 1s ease-out infinite;
		animation-direction:normal, alternate;
		transform-origin: center;

}
.clicks {
	border-radius: 13px;
	background-color: rgb(30, 135, 210);
	border-width: 4px;
	font-size: large;
	font-weight: 100;
	margin: 7px 10px;
}

#restart {
	border-radius: 13px;
	background-color: rgb(189, 50, 154);
	border-width: 4px;
	font-size: large;
	font-weight: 100;
}
h1 {
	font-family: zen tokyo zoo;
	color:rgb(209, 16, 16);
	font-size: 70px;
}

h3 {
font-family: cursive;
font-size: large;
color:floralwhite
}
div {
	text-align: center;
}
       /*Animations*/
@keyframes vertical-movement {
	50% {
			transform: translate(0, 10px);
	}
	
}












